.inputAboutMe{
    width: 50px;
    height: 100px;
    border: 2px solid black;
}
.inputMission{
    width: 50px;
    height: 100px;
    border: 2px solid black;
}
.inputVision{
    width: 50px;
    height: 100px;
    border: 2px solid black;
}