.inputAboutMe{
    width: 100%;
    height: 500px;
    border: 2px solid black;
    word-wrap: break-word;
}
.inputMission{
    width: 100%;
    height: 500px;
    border: 2px solid black;
}
.inputVision{
    width: 100%;
    height: 500px;
    border: 2px solid black;
}

input{
    height:50px;
  }
  
  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    white-space:pre-line;  
    position:relative;
    top:-7px;
    
  }
  ::-moz-placeholder { /* Firefox 19+ */
       white-space:pre-line;  
    position:relative;
    top:-7px;
  }
  :-ms-input-placeholder { /* IE 10+ */
      white-space:pre-line;  
    position:relative;
    top:-7px;
  }
  :-moz-placeholder { /* Firefox 18- */
       white-space:pre-line;  
    position:relative;
    top:-7px;
  }