.inputAboutMe{
    width: 100%;
    height: 500px;
    border: 2px solid black;
    word-wrap: break-word;
    word-break: break-all;
}
.inputMission{
    width: 100%;
    height: 500px;
    border: 2px solid black;
    white-space: nowrap;
}
.inputVision{
    width: 100%;
    height: 500px;
    border: 2px solid black;
    white-space: normal;
}


  
  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    white-space:pre-line;  
    position:relative;
    top:-7px;
    
  }
  ::-moz-placeholder { /* Firefox 19+ */
       white-space:pre-line;  
    position:relative;
    top:-7px;
  }
  :-ms-input-placeholder { /* IE 10+ */
      white-space:pre-line;  
    position:relative;
    top:-7px;
  }
  :-moz-placeholder { /* Firefox 18- */
       white-space:pre-line;  
    position:relative;
    top:-7px;
  }