.inputAboutMe{
    width: 200px;
    height: auto;
    border: 2px solid black;
}
.inputMission{
    width: 200px;
    height: auto;
    border: 2px solid black;
}
.inputVision{
    width: 200px;
    height: auto;
    border: 2px solid black;
}