.inputAboutMe{
    width: 100%;
    height: 500px;
    border: 2px solid black;
    display: flex;
    flex-wrap: wrap;
}
.inputMission{
    width: 500px;
    height: 500px;
    border: 2px solid black;
}
.inputVision{
    width: 200px;
    height: auto;
    border: 2px solid black;
}